.App {
	text-align: center;
}

.App-header {
  -ms-flex-align: center;
  -ms-flex-direction: column;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	align-items: center;
	background-color: #282c34;
	color: white;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: 100vh;
}

.App-link {
	color: #61dafb;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@keyframes App-logo-spin {
	from
	{
    -webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to
	{
    -webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo
	{
    -webkit-animation: App-logo-spin infinite 20s linear;
		animation: App-logo-spin infinite 20s linear;
	}
}

@-webkit-keyframes App-logo-spin {
	from
	{
    -webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to
	{
    -webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}