.auctions-title {
    padding: 0 32px;
    font-size: 2rem;
}

.auction-card-container {
    margin: -15px 32px  16px 32px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.auction-card-container > a {
    text-decoration: none;
    color: #071015;
}

@media screen and (max-width: 528px) {
    .auction-card-container {
        margin: -15px 16px 16px 16px;
    }

    .auctions-title {
        padding: 0 16px;
    }
}