.landing-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;
}

.yellow-logo {
    background-color: #F4FF47;
    clip-path: circle();
    padding: 16px;
}

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    min-height: 100vh;
}

.landing-image {
    width: 90%;
    height: auto;
    max-width: 1144px;
    margin: 0 auto;
}