.forgotten-pw {
    align-self: flex-end;
    margin: -25px 10px 16px 0;
    font-size: 0.75rem;
    font-weight: 300;
    color: #74817F;
    text-decoration: none;
    z-index: 99;
}

.login {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-item-align: stretch;
    -ms-flex-pack: justify;
    -ms-flex: 0 0 448px;
    -ms-grid-row-align: stretch;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -webkit-box-sizing: border-box;
    align-items: center;
    align-self: stretch;
    background-color: #fff;
    border-radius: 32px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 448px;
    justify-content: space-between;
    margin: 8px;
    padding: 64px 32px;
}

.login > .side-text {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
}

#login-pw-icon {
    position: absolute;
    right: 20px;
    top: 40px;
    opacity: 0.5;
    z-index: 99;
}

#login-pw-icon:hover {
    cursor: pointer;
}

.side-text > form {
    display: flex;
    flex-direction: column;
    width: 384px;
    
}

.side-text > form > div {
    position: relative;
}

.side-text > form > button[type=submit] {
    width: 100%;
}