

.myauctions-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 32px;
    gap: 16px;
}

.auction-card {
    width: 216px;
    height: 298px;
    background-color: white;
    border-radius: 16px;
    padding: 8px 4px 4px 4px;
    box-sizing: border-box;
}

.auction-status {
    display: flex;
    justify-content: space-between;
}

.auction-card p {
    margin: 0;
}

.inprogress-tag {
    background-color: #F9FF90;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 2px 4px;
    border-radius: 16px;
    margin: 10px;
    width: 60px;
    height: 16px;
    text-align: center;
    line-height: 1rem;
}

.done-tag {
    background-color: #272D2D;
    color: white;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 2px 4px;
    border-radius: 16px;
    width: 33px;
    height: 16px;
    text-align: center;
    line-height: 1rem;
}

.winning-tag {
    background-color: #ADFF90;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 2px 4px;
    margin-left: 8px;
    border-radius: 16px;
    width: 46px;
    height: 16px;
    text-align: center;
    line-height: 1rem;
}

.outbid-tag {
    background-color: #FFAA98;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 2px 4px;
    border-radius: 16px;
    width: 40px;
    height: 16px;
    text-align: center;
    line-height: 1rem;
}

.whitetimer-tag {
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 16px;
    font-weight: 300;
    font-size: 0.625rem;
    text-align: center;
    line-height: 1rem;
}

.redtimer-tag {
    background-color: #FFAA98;
    padding: 2px 4px;
    border-radius: 16px;
    font-weight: 300;
    font-size: 0.625rem;
    text-align: center;
    line-height: 1rem;
}

.redtimer-tag > svg,
.whitetimer-tag > svg {
    position: relative;
    top: 1px;
}

.auction-price {
    font-weight: 500;
    line-height: 24px;
    padding: 4px 0 8px 4px;
}

.delete-btn {
    border: 1px solid #272D2D;
    background-color: #fff;
    width: 48px;
    height: 40px;
    border-radius: 16px;
}

.edit-btn {
    border: none;
    background-color: #272D2D;
    color: #fff;
    border-radius: 16px;
    width: 156px;
    height: 40px;
    font-weight: 500;
    font-size: 1rem;
}

.edit-btn > svg {
    margin-right: 8px;
}

.auction-actions {
    display: flex;
    gap: 4px;
    margin-top: 4px;
}

.auction-actions > button {
    cursor: pointer;
}

.auction-title {
    line-height: 24px;
    padding: 4px;
}

.auction-card > img {
    border-radius: 12px;
}

.delete-btn:hover > svg {
    filter: brightness(0) invert(1);
}

.edit-btn:hover > svg {
    filter: brightness(0);
}

.edit-btn:hover {
    background-color: #fff;
    border: 1px solid #272D2D;
    color: #272D2D;
}

.delete-btn:hover {
    background-color: #272D2D;
}