.won-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 32px 16px 32px;
    gap: 16px;
}

@media screen and (max-width: 528px) {
    .won-container {
        margin: 0 16px 16px 16px;
    }
}